<form class="flex h-full gap-4 p-4" name="data">
  <% data.lanes.forEach((lane, laneIndex) => { %>
    <%- include('lane.html', { data, lane, laneIndex }) %>
  <% }); %>

  <div class="min-w-[var(--lane-width)]">
    <button
      type="button"
      class="self-start p-3 bg-white border rounded text-left hover:pr-[calc(var(--lane-width)-2.5rem)] transition-[padding]"
      hx-on::before-request="
        // TODO: Handle request failure
        this.closest('form').insertBefore(this.nextElementSibling.content.cloneNode(true), this.parentElement);
        this.scrollIntoView({ behavior: 'smooth' });
      "
      hx-post="/<%= data._id %>"
      hx-swap="outerHTML"
      hx-target="closest form"
    >
      ➕
    </button>

    <template>
      <%- include('lane.html', { data, lane: constants.NEW_LANE, laneIndex: null }) %>
    </template>
  </div>
</form>
