<main class="flex h-full gap-4 p-4">
  <% data.lanes.forEach((lane) => { %>
    <%- include('lane.html', { lane, data }) %>
  <% }); %>

  <div class="min-w-[var(--lane-width)]">
    <button
      type="button"
      class="self-start p-3 bg-white border rounded text-left hover:pr-[calc(var(--lane-width)-2.5rem)] transition-[padding]"
      hx-post="/<%= data._id %>"
      hx-trigger="click"
      hx-target="closest main"
      hx-swap="outerHTML"
      onclick="
        // Optimistic update
        this.closest('main').insertBefore(this.nextElementSibling.content.cloneNode(true), this.parentElement);
        this.scrollIntoView({ behavior: 'smooth' });
      "
    >
      ➕
    </button>

    <template>
      <%- include('lane.html', { lane: constants.NEW_LANE, data }) %>
    </template>
  </div>
</main>
