<div
  class="relative flex flex-col min-w-[var(--lane-width)] border rounded w-[var(--lane-width)] bg-slate-100 px-3 shadow-inner overflow-y-auto"
>
  <button
    type="button"
    class="absolute px-3 py-1 border-transparent rounded-full top-2 right-1 hover:bg-white hover:border-slate-500"
    title="Close"
    hx-on::before-request="
      // TODO: Handle request failure
      this.parentElement.parentElement.removeChild(this.parentElement)
    "
    hx-delete="/<%= data._id %>/<%= lane._id %>"
    hx-swap="outerHTML"
    hx-target="closest main"
  >
    ×
  </button>

  <%- include('dropzone.html', {
    data,
    lane,
    index: 0,
    children: `
      <div class="pt-2 font-bold">
        ${lane.name} <span class="inline-block px-2 rounded-full bg-slate-200">${lane.tasks.length}</span>
      </div>
    `,
  }) %>
  <% lane.tasks.forEach((task, index) => { %>
    <%- include('task.html', { task }) %>
    <%- include('dropzone.html', { data, lane, index: index + 1, children: '' }) %>
  <% }); %>
</div>
