<div
  class="relative flex flex-col min-w-[var(--lane-width)] border rounded w-[var(--lane-width)] bg-slate-100 px-3 shadow-inner overflow-y-auto"
>
  <input type="hidden" name="lanes[][_id]" value="<%= lane._id %>" />
  <input type="hidden" name="lanes[][name]" value="<%= lane.name %>" />

  <button
    type="button"
    class="absolute px-3 py-1 border-transparent rounded-full top-2 right-1 hover:bg-white hover:border-slate-500"
    title="Close"
    hx-on::before-request="
      // TODO: Handle request failure
      this.parentElement.parentElement.removeChild(this.parentElement)
    "
    hx-delete="/<%= data._id %>/<%= lane._id %>"
    hx-swap="outerHTML"
    hx-target="closest form"
  >
    ×
  </button>

  <%- include('dropzone.html', { data, lane, laneIndex, task: null, taskIndex: 0 }) %>
  <% lane.tasks.forEach((task, taskIndex) => { %>
    <%- include('task.html', { lane, laneIndex, task, taskIndex }) %>
    <%- include('dropzone.html', { data, lane, laneIndex, task, taskIndex: taskIndex + 1 }) %>
  <% }); %>
</div>
