<form class="flex h-full gap-4 p-4" name="board">
  <% board.lanes.forEach((lane) => { %>
    <%- include('lane.html', { attrs: {}, board, lane }) %>
  <% }); %>

  <%- include('lane.html', { attrs: { id: 'new-lane', style: 'display: none' }, board, lane: constants.NEW_LANE }) %>

  <div id="create-lane-button" class="min-w-[var(--lane-width)]">
    <button
      type="button"
      class="self-start p-3 bg-white border rounded text-left hover:pr-[calc(var(--lane-width)-2.5rem)] transition-[padding]"
      hx-on::before-request="
        const newLane = document.querySelector('#new-lane');
        newLane.style.display = 'initial';
        this.scrollIntoView({ behavior: 'smooth' });
      "
      hx-on::after-request="
        const newLane = event.detail.target;
        if (event.detail.successful) {
          const newNewLane = newLane.cloneNode(true);
          // TODO: Finish
        } else {
          newLane.style.display = 'none';
        }
      "
      hx-post="/boards/<%= board._id %>/lanes"
      hx-swap="outerHTML"
      hx-target="#new-lane"
    >
      ➕
    </button>
  </div>

  <script>
    const taskUpdateTimers = {};

    function updateOrDeleteTask(container, laneId, taskId) {
      clearTimeout(taskUpdateTimers[taskId]);
      taskUpdateTimers[taskId] = setTimeout(() => {
        const text = container.textContent;

        if (text) {
        fetch(
          `/boards/<%= board._id %>/lanes/${laneId}/tasks/${taskId}`,
          { method: 'PUT', body: text, }
        )
          .then((response) => response.ok ? response.text() : null)
          .then((html) => {
            if (html) {
              container.outerHTML = html;
            }
          });
        } else {
          // Optimistically remove task
          const parent = container.parentElement;
          const previousSibling = container.previousElementSibling;
          parent.removeChild(container);

          fetch(
            `/boards/<%= board._id %>/lanes/${laneId}/tasks/${taskId}`,
            { method: 'DELETE' }
          )
            .then((response) => {
              // Restore task
              if (!response.ok) {
                if (previousSibling) {
                  previousSibling.after(container);
                } else {
                  parent.prepend(container);
                }
              }
            })
        }
      }, 300);
    }
  </script>
</form>
