<div
  class="px-3 py-2 bg-white border rounded-sm shadow-sm select-none cursor-grab active:cursor-grabbing"
  draggable="true"
  ondragstart="
    event.stopPropagation(); // Prevent parent node from receiving child events
    event.dataTransfer.setData('text/plain', '<%= task._id %>');
    event.dataTransfer.effectAllowed = 'move';
  "
>
  <input type="hidden" name="lanes[][tasks][][_id]" value="<%= task._id %>" />
  <input type="hidden" name="lanes[][tasks][][text]" value="<%= task.text %>" />
  <div
    class="whitespace-pre-line"
    contenteditable="true"
    oninput="
      window.taskEditTimer ||= {};
      clearTimeout(window.taskEditTimer['<%= task._id %>']);
      window.taskEditTimer['<%= task._id %>'] = setTimeout(() => {
        const text = this.textContent;
        fetch(
          '/boards/<%= board._id %>/lanes/<%= lane._id %>/tasks/<%= task._id %>',
          { method: text ? 'PUT' : 'DELETE', body: text, }
        )
          .then((response) => response.ok ? response.text() : null)
          .then((html) => {
            if (html != null) {
              this.closest('[draggable]').outerHTML = html;
            }
          });
      }, 300);
    "
  ><%= task.text %></div>
</div>
