::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(71 85 105);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgb(100 116 139);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.25rem;
  background-color: rgb(148 163 184);
}
